<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IndustrialAI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  <link href="/static/css/style1.css" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet" />


  <link rel="icon" href="/static/img/favicon.png">

</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="">industrialAI</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="#Features">Features</a></li>
          <li><a class="getstarted scrollto" href="/login_page">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1><br><br>Enhancing Safety and Efficiency in Industrial Environments</h1>
          <h2><br><br>
            Our innovative web-based application utilizes cutting-edge
            technology to ensure a safer and secure working environment.<br>
          </h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#Features" class="btn-get-started scrollto">Know More</a>
          </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/static/img/index_bg.png" class="img-fluid animated" alt="">
      </div>
      
      </div>
    </div>

  </section>

  <main id="main">


    <section id="Features" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Key Features</h2>
          <p>Industrial workplaces pose risks to both machinery and personnel. Our project aims to mitigate these risks
            by providing a platform that helps to establish a safer and more secure industrial
            environment.</p><br>

            <div class="row mt-4">
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-5 mt-md-0 mx-auto mb-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4><a href="">Emergency Alert</a></h4>
                  <p>Stay prepared for emergencies with our alert system. In critical situations, individuals can easily signal for help by waving to the nearest camera.</p>
                </div>
              </div>
            
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-5 mt-xl-0 mx-auto mb-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4><a href="">Restricted Zone</a></h4>
                  <p>Keep restricted areas secure with live CCTV feeds. Our system detects unauthorized access and raises alerts, ensuring safety.</p>
                </div>
              </div>
            
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-5 mt-xl-0 mx-auto mb-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-layer"></i></div>
                  <h4><a href="">Safety gear Detection</a></h4>
                  <p>Prioritize a safe working environment with our safety gear detection feature. By identifying safety equipment and fire hazards in real-time.</p>
                </div>
              </div>
            </div>
            
            

        </div>

      </div>
    </section>


    <footer id="footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>industrialAI</span></strong>
        </div>
      </div>
    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="fa-solid fa-arrow-turn-up"></i></a>

    <script src="/static/js/main.js"></script>
    <script src="https://kit.fontawesome.com/ec53c9ed31.js" crossorigin="anonymous"></script>

</body>

</html>